# Dependencias
node_modules/
**/node_modules/

# Builds y artefactos
/dist/
/build/
**/dist/
**/build/
coverage/
**/coverage/

# Variables de entorno
.env
.env.*

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
*.log

# Sistema
.DS_Store
Thumbs.db

# Docker
*.pid

# IDEs
.vscode/
.idea/
